@model ScholarHUB.Models.UserProfile

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome To Admin Dashboard</h1>
            <h4 class="text-center">Have a nice day!!!</h4>
            <img src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid mx-auto d-block margin" style="width: 75%;" />
        </div>
    </div>
</div>