@using Microsoft.AspNetCore.Identity
@using ScholarHUB.Models

@inject SignInManager<UserProfile> SignInManager
@inject UserManager<UserProfile> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link ms-2 text-white fw-bold" role="button" data-bs-toggle="dropdown" href="#">
                    Admin <i class="bi bi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                    <li>
                        <a class="dropdown-item"
                           asp-area="" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </li>
        }
        else if (User.IsInRole("Student"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link ms-2 text-white fw-bold" role="button" data-bs-toggle="dropdown" href="#">
                    Student <i class="bi bi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                    <li>
                        <a class="dropdown-item"
                           asp-area="" asp-controller="User" asp-action="Index">User Page</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </li>
        }
        else if (User.IsInRole("Coordinator"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link ms-2 text-white fw-bold" role="button" data-bs-toggle="dropdown" href="#">
                    Coordinator <i class="bi bi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                    <li>
                        <a class="dropdown-item"
                           asp-area="" asp-controller="Coordinator" asp-action="Index">Coordinator Dashboard</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </li>
        }
        else if (User.IsInRole("Manager"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link ms-2 text-white fw-bold" role="button" data-bs-toggle="dropdown" href="#">
                    Manager <i class="bi bi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                    <li>
                        <a class="dropdown-item"
                           asp-area="" asp-controller="Manager" asp-action="Index">Manager Dashboard</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </li>
        }
        else if (User.IsInRole("Guest"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link ms-2 text-white fw-bold" role="button" data-bs-toggle="dropdown" href="#">
                    Guest <i class="bi bi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                    <li>
                        <a class="dropdown-item"
                           asp-area="" asp-controller="Guest" asp-action="Index">Guest Page</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link ms-2 text-white fw-bold" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ms-2 text-white fw-bold" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

