
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Coordinator.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome To Coordinator Dashboard</h1>
            <h4 class="text-center">Have a nice day!!!</h4>
            <img src="https://images.pexels.com/photos/2877338/pexels-photo-2877338.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid mx-auto d-block margin" style="width: 75%;" />
        </div>
    </div>
</div>