@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <h1 class="display-4 text-center fw-bold">Welcome To Scholar Hub</h1>
                <p class="text-justify">
                    Calling all Greenwich brainiacs! Have you written a groundbreaking research paper or an insightful article that deserves a wider audience?
                    Look no further than Scholar Hub, your one-stop platform to share your academic brilliance with fellow Greenwich students!
                </p>
                <p class="text-justify">
                    Scholar Hub is designed to foster a vibrant community of knowledge exchange. It is simple: upload your work, and connect with a network of passionate
                    learners just like you. Watch your ideas spark discussions, inspire others, and contribute to the collective intellectual wellspring of the
                    University of Greenwich.
                </p>
                <p class="text-justify">
                    University of Greenwich, with its esteemed reputation for academic excellence, is proud to offer Scholar Hub as a platform for its talented students
                    to showcase their work and connect with a diverse and driven community. So, don't be shy – share your knowledge, engage in stimulating discussions,
                    and become a part of the vibrant intellectual landscape at Greenwich!
                </p>
                <img src="https://images.pexels.com/photos/1887609/pexels-photo-1887609.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid mx-auto d-block margin" style="width: 60%;" />

                <h1 class="display-4 text-center member fw-bold">Who Are We?</h1>
                <p class="text-justify">
                    W.G.U is in short for We Give Up. Let's be honest, the name "We Give Up" probably does not scream academic achievement.
                    It all began as a lighthearted joke during a group project. Our wise teacher, bless their soul, warned us a project-related name might tempt fate.
                    Well, we defied the odds – in the most W.G.U way possible!
                </p>
                <p class="text-justify">
                    We embraced the challenge, the name, and most importantly, the spirit of collaboration. We started as a valiant trio, fueled by laughter,
                    late-night brainstorming sessions, and a whole lot of determination. Our group has grown to a formidable five, and we are here with something
                    truly special: Scholar Hub!
                </p>
                <p class="text-justify">
                    We may have jokingly called ourselves "We Give Up", but when it came to building something valuable for the Greenwich community, we dug deep,
                    pushed through challenges, and never gave in.
                </p>
                <p class="text-justify">
                    So, prepare to be surprised! We, the W.G.U. team, are excited to show you how Scholar Hub can ignite your academic journey at the University of Greenwich.
                    Get ready to share your knowledge, connect with fellow scholars, and be a part of something truly groundbreaking.
                </p>
                <p class="mb-5"></p>
            </div>
        </div>
    </div>
</div>

