@using Microsoft.AspNetCore.Identity
@using ScholarHUB.Models
@using ScholarHub.Areas.Identity.Pages.Account.Manage

@inject SignInManager<UserProfile> SignInManager
@inject UserManager<UserProfile> UserManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="account-menu">
    <h3>Account Settings</h3>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
                <i class="fas fa-user"></i> Profile
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
                <i class="fas fa-lock"></i> Password
            </a>
        </li>
        @if (hasExternalLogins)
        {
            <li id="external-logins" class="nav-item">
                <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                    <i class="fas fa-external-link-alt"></i> External logins
                </a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
                <i class="fas fa-id-card"></i> Personal data
            </a>
        </li>
    </ul>
</div>
