@page
@using IdentityProject.Areas.Identity.Pages.Account
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
}

<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image" style="background-image: url('https://images.pexels.com/photos/19786702/pexels-photo-19786702/free-photo-of-university-of-greenwich.jpeg?auto=compress&cs=tinysrgb&w=800');">
            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <header>Email Confirmation Completed</header>
                    <p>
                        Thank You For Confirming Your Email! Welcome To Scholar's Hub!
                    </p>
                    <div class="signin">
                        <span>Back To <a class="text-primary" asp-page="./Login">Log In</a></span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
