@page
@using IdentityProject.Areas.Identity.Pages.Account
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image" style="background-image: url('https://images.pexels.com/photos/19786702/pexels-photo-19786702/free-photo-of-university-of-greenwich.jpeg?auto=compress&cs=tinysrgb&w=800');">
            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <header>Reset Password</header>
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating mb-2">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email" class="form-label"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                            </form>
                 </div>
            </div>
         </div>
     </div>
 </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
